In [43]:
import pandas as pd
import gzip as gz
import sqlite3
from zipfile import ZipFile

In [44]:
imdb = 'data/im.db.zip'
with ZipFile(imdb, 'r') as zip:
    zip.extractall('data/imdb_unzipped')

conn = sqlite3.connect('data/imdb_unzipped/im.db')

In [45]:
q = """
SELECT pr.movie_id, pr.person_id, pr.category, p.primary_name, m.primary_title AS 'Movie Title'
FROM principals pr
    JOIN persons p
        USING(person_id)
    JOIN movie_basics m
        USING(movie_id)
"""
principals_df = pd.read_sql(q, conn)

In [46]:
principals_df.head()

    movie_id  person_id  category           primary_name      Movie Title
0  tt0111414  nm0246005     actor           Tommy Dysart      A Thin Life
1  tt0111414  nm0398271  director           Frank Howson      A Thin Life
2  tt0111414  nm3739909  producer  Barry Porter-Robinson      A Thin Life
3  tt0323808  nm0059247    editor            Sean Barton  The Wicker Tree
4  tt0323808  nm3579312   actress        Brittania Nicol  The Wicker Tree

In [47]:
principals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027912 entries, 0 to 1027911
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   movie_id      1027912 non-null  object
 1   person_id     1027912 non-null  object
 2   category      1027912 non-null  object
 3   primary_name  1027912 non-null  object
 4   Movie Title   1027912 non-null  object
dtypes: object(5)
memory usage: 39.2+ MB